.row{
    position: relative;
    text-align: left;
    color: white;
    font-size: 30px;

}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
p{
    color: black ;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    margin: 0px;
}
footer{
    background:#7edd03;
    text-align: center;
}
body{
    background-color: #1a1f19 ;
    
}
